{% extends "base.html" %}

{% set title="Welcome!" %}

{% block content %}
<link rel="stylesheet" type="text/css" href="/static/css/login.css">
<link rel="import" href="/static/components/paper-input/paper-input.html">
<link rel="import" href="/static/components/paper-button/paper-button.html">
<script type="text/javascript" src="/static/js/polymer-forms.js"></script>
<script type="text/javascript" src="/static/js/login.js"></script>

<form id="login_form" action="/login" layout vertical center-center fit>
    {{ form.hidden_tag() }}
    <paper-input floatingLabel label={{ form.email.label.text }} name={{ form.email.label.field_id }} layout vertical>
    </paper-input>
    <paper-input floatingLabel label={{ form.password.label.text }} name={{ form.password.label.field_id }} type="password" layout vertical>
    </paper-input>
    <paper-button id="login_button" raised style="background: #4285f4">Login</paper-button>
</form>
{% endblock %}