{% extends "base.html" %}
{% block content %}
<link rel="import" href="/static/components/paper-radio-group/paper-radio-group.html">
<link rel="import" href="/static/components/paper-radio-button/paper-radio-button.html">
<link rel="import" href="/static/components/paper-button/paper-button.html">
<script type="text/javascript" src="/static/js/polymer-forms.js"></script>
<script type="text/javascript" src="/static/js/suggest.js"></script>

{% if form.idea_id.query.count()  == 0 %}
    {% if g.user.ideas.count() == 0 %}
        <div>You have no ideas to suggest :(</div>
    {% else %}
        <div>You've already suggested all your ideas to this monkey</div>
    {% endif %}
{% else %}
    <form id="suggest_form" action="/monkeys/{{ monkey.id }}/suggest" layout vertical center-center>
        {{ form.hidden_tag() }}
        <paper-radio-group name={{ form.idea_id.label.field_id }} valueattr="value">
            {% for pk, label, b in form.idea_id.iter_choices() %}
            <paper-radio-button value={{ pk }} label="{{ label }}"></paper-radio-button>
            {% endfor %}
        </paper-radio-group>
        <paper-button id="suggest_button" raised style="background: #4285f4">Suggest</paper-button>
    </form>
{% endif %}
{% endblock %}
