{% extends "base.html" %}

{% from "macros.html" import monkey_card %}

{% set title="Suggestions" %}
{% set selected = 2 %}

{% block content %}
<link rel="import" href="/static/components/core-icon/core-icon.html">
<link rel="import" href="/static/components/paper-button/paper-button.html">
<link rel="import" href="/static/components/paper-shadow/paper-shadow.html">
<link rel="stylesheet" type="text/css" href="/static/css/macros.css">
<link rel="stylesheet" type="text/css" href="/static/css/suggestions.css">

<div layout vertical class="wrapper">
    {% for suggestion in g.user.suggestions %}
        <div class="suggestion">
            <div class="idea">
                <core-icon icon="star-rate"></core-icon>
                <a href="/ideas/{{suggestion.idea.id }}">{{ suggestion.idea.title }}</a>
                <span> by: </span>
            </div>
            {{ monkey_card(suggestion.idea.author) }}
        </div>
    {% endfor %}
</div>
{% endblock %}