{% extends "base.html" %}

{% set title="Add idea" %}

{% block content %}
<link rel="stylesheet" type="text/css" href="/static/css/register.css">
<link rel="import" href="/static/components/paper-input/paper-input.html">
<link rel="import" href="/static/components/paper-button/paper-button.html">
<link rel="import" href="/static/components/paper-item/paper-item.html">
<link rel="import" href="/static/components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="/static/components/paper-toggle-button/paper-toggle-button.html">
<link rel="import" href="/static/components/paper-checkbox/paper-checkbox.html">
<script type="text/javascript" src="/static/js/polymer-forms.js"></script>
<script type="text/javascript" src="/static/js/idea.js"></script>

<form id="idea_form" action="/ideas/new" layout vertical center-center>
    {{ form.hidden_tag() }}
    <paper-input floatingLabel label={{ form.title.label.text }} name={{ form.title.label.field_id }}>
    </paper-input>
    <paper-input floatingLabel multiline rows=7 label={{ form.body.label.text }} name={{ form.body.label.field_id }}>
    </paper-input>
    <paper-dropdown-menu label="Status of your idea" name={{ form.status_id.label.field_id }} valueattr="value" layout horizontal>
    {% for pair in form.status_id.choices %}
        <paper-item label="{{ pair[1] }}" value="{{ pair[0] }}"></paper-item>
    {% endfor %}
    </paper-dropdown-menu>
    <section>
        <div>{{ form.fields.label.text }}</div>
        {% for pair in form.fields.choices %}
        <div center horizontal layout>
            <paper-checkbox label={{ pair[1] }} name={{ form.fields.label.field_id }} value={{ pair[0] }}></paper-checkbox>
        </div>
        {% endfor %}
    </section>
    <div id="is_public" horizontal start-justified layout>
        <div>{{ form.is_public.label.text }}</div>
        <paper-toggle-button name={{ form.is_public.label.field_id }} checked=true></paper-toggle-button>
    </div>
    <paper-button id="idea_button" raised style="background: #4285f4">Add</paper-button>
</form>
{% endblock %}