{% extends 'base.html' %}

{% block content %}
<link rel="import" href="/static/components/core-icons/social-icons.html">
<div layout vertical>
    <h1>Welcome to the Jungle of Ideas!</h1>
    <h4>Here you can <i style="color: orange">share</i> your ideas and find <i style="color: orange">team</i>-monkeys.</h4>
    <h4>Or you can explore ideas of others and <i style="color: orange">join</i> them!</h4>
    <h3>Use the menu on the left <core-icon icon="arrow-back" style="color: blue"></core-icon> to browse monkeys and ideas!</h3>
</div>
{% endblock %}