/* monkey_card */

.monkey_card {
/*     border: 1px solid silver; */
    padding: 30px;
    margin: 10px;
    max-width: 350px
}

.monkey_card img {
    width: 70px;
    height: 70px;
    border: 1px solid silver;
    border-radius: 50%;
}

.monkey_card .left {
    float: left;
    margin-right: 15px;
}

.monkey_card .lower {
    clear: both;
    padding-top: 20px;
}

.monkey_card .right {
    padding-top: 10px;
}

.monkey_card .about {
    font-style: italic;
    color: #7D7D7D;
}

.monkey_card .fullname {
    font-size: 1.2rem;
}

.monkey_card .profession {
    font-size: 1.3rem;
    margin-top: 3px;
}

/* fields */

.fields {
    margin: 10px 0px 0px 28px;
}

.field {
    padding: 3px;
    border: 1px solid silver;
    text-decoration: none;
    font-size: 0.9rem;
    margin: 3px 3px 3px 0px;
    background-color: #F6F5C2;
    color: #5F5B34;
    display: inline-block;
}

.field:hover {
    background-color: #5F5B34;
    color: white;
}

/* ideas */

.idea {
    margin-top: 35px;
    padding: 13px;
}
.idea .title {
    font-size: 1.3rem;
}
.title core-icon[icon='star-rate'] {
    color: orange;
}

/* pagination */
.pages {
    text-align: center;
    margin: 10px 0px;
}