{% extends "base.html" %}

{% block content %}
    {% for idea in pagination.items %}
        <div>
            <div>{{ idea.title }}</div>
            <div>{{ idea.body[:20] + '...' }}</div>
        </div>
    {% endfor %}

    <div class=pagination>
        {% for page in pagination.iter_pages() %}
            {% if page %}
                {% if page != pagination.page %}
                    <a href="{{ url_for('list_ideas', page=page) }}">{{ page }}</a>
                {% else %}
                    <strong>{{ page }}</strong>
                {% endif %}
            {% else %}
                <span class=ellipsis>…</span>
            {% endif %}
        {% endfor %}
  </div>
{% endblock %}