{% extends "base.html" %}

{% from "macros.html" import field_tags, render_pagination, idea_card %}

{% set title="Ideas" %}

{% block content %}
<link rel="stylesheet" type="text/css" href="/static/css/ideas.css">
<link rel="import" href="/static/components/core-icon/core-icon.html">
<link rel="import" href="/static/components/paper-button/paper-button.html">

<div layout vertical>
    <div class="ideas">
        {% for idea in pagination.items %}
            {{ idea_card(idea) }}
        {% endfor %}
    </div>
    {{ render_pagination(pagination, 'list_ideas') }}
</div>
{% endblock %}