{% extends "base.html" %}

{% from "macros.html" import field_tags, render_pagination %}

{% block content %}
    <div layout vertical>
        <div>
            {% for idea in pagination.items %}
                <div>
                    <div>
                        <a href="{{ url_for('show_idea', id=idea.id) }}">{{ idea.title }}</a>
                    </div>
                    {{ field_tags(idea.fields) }}
                </div>
            {% endfor %}
        </div>
        {{ render_pagination(pagination, 'list_ideas') }}
    </div>
{% endblock %}