{% extends "base.html" %}
{% block content %}
<link rel="import" href="static/components/paper-input/paper-input.html">
<link rel="import" href="static/components/paper-button/paper-button.html">

<div layout vertical center-center fit>   
    <paper-input label="Email" name="email" layout vertical></paper-input>
    <paper-input label="Password" name="password" type="password" layout vertical></paper-input>
    <paper-button raised style="background: #4285f4">Login</paper-button>
</div>
{% endblock %}