{% macro field_tags(fields) %}
<div class="fields">
    {% for field in fields %}
        <a href="#" class="field">{{ field.name }}</a>
    {% endfor %}
</div>
{% endmacro %}

{% macro monkey_card(monkey) %}
<div class="monkey_card">
    <div class="upper">
        <div class="left">
            <img src="/static/img/1.jpg">
        </div>
        <div class="right">
            <div class="fullname">
                <a href="{{ url_for('monkeys.show_monkey', id=monkey.id) }}">{{ monkey.fullname }}</a>
            </div>
            <div class="profession">
                {{ monkey.profession }}
            </div>
        </div>
    </div>
    <div class="lower">
        <div class="about">
            {{ monkey.about }}
        </div>
    </div>
    <paper-shadow z="1"></paper-shadow>
</div>
{% endmacro %}

{% macro idea_card(idea) %}
<div class="idea">
    <div class="title">
        <core-icon icon="star-rate"></core-icon>
        <a href="{{ url_for('ideas.show_idea', id=idea.id) }}">{{ idea.title }}</a>
    </div>
    {{ field_tags(idea.fields) }}
    <paper-shadow z="1"></paper-shadow>
</div>
{% endmacro %}

{% macro render_pagination(pagination, view) %}
<div class="pages">
{% for page in pagination.iter_pages() %}
    {% if page %}
        {% if page != pagination.page %}
            <a href="{{ url_for(view, page=page) }}">{{ page }}</a>
        {% else %}
            <strong>{{ page }}</strong>
        {% endif %}
    {% else %}
        <span>…</span>
    {% endif %}
{% endfor %}
</div>
{% endmacro %}