{% extends "base.html" %}

{% from "macros.html" import monkey_card, render_pagination %}

{% set title="Monkeys" %}
{% block content %}
<link rel="import" href="/static/components/paper-button/paper-button.html">
<link rel="stylesheet" type="text/css" href="/static/css/monkeys.css">

<div layout vertical>
    <div class="monkeys">
        {% for monkey in pagination.items %}
            {{ monkey_card(monkey) }}
            {% set count = g.user.suggestions_made(monkey) %}
            {% if count > 0 %}
                <div class="align-right">
                    You suggested {{ count }} idea(s) to this monkey
                </div>
            {% endif %}
            {% if g.user.ideas.all()|count > count %}
                <div class="align-right">        
                    <a href="/monkeys/{{ monkey.id }}/suggest">
                        <paper-button>Suggest</paper-button>
                    </a>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    {{ render_pagination(pagination, 'list_monkeys') }}
</div>
{% endblock %}